.App
  display: flex
  flex-direction: column
  align-items: center
  &-content
    min-height: calc(100vh - 80px)
    display: flex
    align-items: stretch
    flex-wrap: wrap
    padding-top: 30px
    width: 70%

@media (max-width: 1000px)
  .App-content
    width: 80%

@media (max-width: 772px)
  .App-content
    width: 90%

