.threads
  margin-bottom: 30px
  padding: 10px
  position: relative
  margin-top: 20px
  border-radius: 3px
  background-color: white
  min-height: 520px
  width: 70%
  border: 1px solid rgb(212, 228, 247)
.add-thread-cover
  position: absolute
  right: 20px
  bottom: 13px
  .add-thread-button
    height: 34px
    width: 150px
    font-size: 15px
    display: flex
    align-items: center
    justify-content: center
    color: white
    background-color: #4cabe9
    border: none
    cursor: pointer
    svg
      margin-right: 2px
      font-size: 22px
