.profile
  padding: 20px
  display: flex
  flex-wrap: wrap
  width: 100%
  min-height: 595px
  &-sidebar
    width: 30%
    background: #181c2c
    padding-top: 30px
    &-links
      position: sticky
      top: 30px
    &-link
      padding-left: 30px
      display: flex
      align-items: center
      margin-bottom: 15px
      font-weight: 300
      font-size: 16px
      color: white
      cursor: pointer
      transition: all 0.8s
      svg
        color: #1caac9
        margin-right: 5px
        font-size: 22px
      &:hover
        padding-left: 60px
    .select
        border-left: 5px solid white
        padding-left: 25px
        &:hover
          padding-left: 30px
  &-main
    width: 70%
    display: flex
    justify-content: center
    background-color: white
