.post
  background-color: white
  border-radius: 5px
  z-index: 10
  border: 1px solid #d4e4f7
  min-height: 0
  padding: 10px 15px 15px 15px
  width: 97.5%
  margin-top: 0
  margin-bottom: 20px
  &-author
    color:
    border-bottom: 1px solid rgb(212, 228, 247)
    display: flex
    align-items: center
    padding-bottom: 10px
    img
      display: block
      height: 50px
    .name
        color: #7b92ad
        margin-left: 20px
        span
          font-weight: 500
          color: black
  &-content
    padding: 18px 0
    border-bottom: 1px solid rgb(212, 228, 247)
    .block
      display: flex
      justify-content: space-between
      .date
        color: #7b92ad
        font-size: 12px
      .number
        color: #7b92ad
        font-size: 12px
    .text
      line-height: 23px
      margin-top: 10px
  &-footer
    margin-top: 15px
    display: flex
    justify-content: space-between
    .stats
      display: flex
      .like
        color: #7b92ad
        margin-right: 20px
        font-size: 19px
        cursor: pointer
        span
          margin-left: 2px
          font-size: 14px
      .dislike
        svg
          transform: translateY(3px)
      .liked, .disliked
        color: black
    .reply
      margin-right: 10px
      color: #be007f
      font-weight: 500
      cursor: pointer

@media (max-width: 768px)
  .post
    padding: 8px 13px 13px
    &-author
      .name
        font-size: 15px
    &-content
      padding: 13px 0
      .text
        margin: 8px 0 0
        line-height: 20px
      .block
        .date
        .number
    &-footer
      margin: 10px 0 0
      .stats
        .like
          font-size: 18px
          span
            font-size: 13.5px
      .reply
        font-size: 15px

@media (max-width: 576px)
  .post
    margin-bottom: 15px
    padding: 6px 11px 11px
    &-author
      .name
        margin-left: 10px
        font-size: 14px
        line-height: 14px
    &-content
      padding: 11px 0
      .text
        margin: 8px 0 0
        font-size: 14.5px
        line-height: 18px
      .block
        .date
          font-size: 11px
        .number
          font-size: 11px
    &-footer
      margin: 10px 0 0
      .stats
        .like
          font-size: 17px
          span
            font-size: 13px
      .reply
        font-size: 14px